*{
    margin:0;
    padding: 0
}

a{
    text-decoration: none;
}
.nav-menu{
    width: 100%;
    height: 42px;
    background: #fff;
}

.nav-menu .news-info{
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}
/*logo的容器放左边*/
.news-info .fl{
    float: left;
}

/*logo的容器放右边*/
.news-info .fr{
    float: right;
}

/*logo的样式*/
.logo{
    height: 42px;
    line-height: 42px;
    font-size: 42px;
    font-family: "STLiti";
    color: #2538c4;
}
/*登录和注册的按钮*/
.news-info ul{
    list-style: none;
    float: right;
}

.news-info ul.login{
    display:none;
}

.news-info ul .nav-item{
    float: right;
    text-align: center;
    height: 42px;
    line-height: 42px;
    position: relative;
}

.news-info ul .nav-item .t{
    color: #8590e6;
    padding: 0 5px;
    font-size: 14px;
    display: inline-block;
    height: 100%;
    cursor: pointer;
}

/*文本内容*/
.bg{
    width:100%;
    height:60px;
    margin-top: 44px;
}

.mask{
    width:100%;
    height:60px;
}

.home-app{
    width: 100%;
    min-height:400px;
    background: #ffffff;
}

.home-app .post{
    width: 870px;
    min-height:400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 7px;
    border-radius: 36px;
}

.home-app .post-content{
    font-size: 16px;
    line-height: 35px;
}

.home-app .post-title{
    font-size: 35px;
    margin-bottom: 12px;
}

.post .reading-info{
    padding: 5px;
    height: 13px;
    line-height: 13px;
    margin: -11px 5px 17px 4px;
}

.post .reading-info ul{
    list-style: none;
}

.reading-info ul li{
    font-size:13px;
}
.reading-info ul .tag{
    padding: 1px 20px 3px 20px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    margin-right: 24px;
    border: 2px solid #fff;
}

.reading-info ul .num{
    height:14px;
    line-height: 14px;
    font-size:13px;
    padding: 1px 20px 3px 20px;
}

.reading-info ul .num .number{
    background: rgba(27,31,35,0.08);
    line-height: 1;
    padding: 2px 5px;
    color: #fff;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}
hr{
    border: 1px;
    border-top: 1px solid #ddd;
    width: 980px;
    margin: 0 auto;
}

/*翻页功能*/
.pager{
    width: 100%;
    height: 42px;
    line-height: 42px;
}

.pager .change-page{
    margin: 0 auto;
    width:980px;
}

.pager .change-page .next-page{
    float:right;
    border: 2px solid #fff;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.pager .change-page .next-page:hover{
    cursor: pointer;
    background: #2538c4;
    color: #fff;
}

.pager .change-page .previous-page{
    display: none;
    float:left;
    border: 2px solid #fff;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.pager .change-page .previous-page:hover{
    cursor: pointer;
    background: #2538c4;
    color: #fff;
}

.home-app .post-title1{
    color: #333333;
	text-decoration: none;
    font-size: 30px;
    margin-bottom: 20px;
}


/*底部显示*/
.footer{
    margin-top: 5px;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 13px;
}

.footer .footer-content{
    margin: 0 auto;
}

.footer .footer-content .copyright{
    text-align: center;
    color: #757575;
}

