*{
    margin:0;
    padding: 0
}

a{
    text-decoration: none;
}
hr{
    border:1px solid #ddd;
}
.nav-menu{
    width: 100%;
    height: 42px;
    background: #fff;
}

.nav-menu .news-info{
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}

.nav-menu .news-info .nav-con{
    text-align: center;
    cursor: pointer;
}

.bg{
    width:100%;
    height:60px;
}

.mask{
    width:100%;
    height:60px;
}
/*logo的样式*/
.logo{
    height: 42px;
    line-height: 42px;
    font-size: 42px;
    font-family: "STLiti";
    color: #2538c4;
}

.login{
    width: 100%;
    min-height: 500px;
    margin: 23px 0;
}

.login .login-box{
   
    width: 600px;
    margin: 0 auto;
    border: 3px solid #ADD8E6;
    padding: 10px;
    border-radius: 23px;
}

.login .login-box .error-item{
    padding: 3px 1px 3px 30px;
    color: #FF0000;
}

.login-box .link-item{
    text-align: center;
    margin:2px auto;
}

.login-box .link-item .link{
    font-size: 16px;
    height: 39px;
    line-height: 39px;
    width: 541px;
    border: 1px solid #ddd;
    display: inline-block;
    margin: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.login-box .link-item .link:hover{
    background: #ec7187;
    color: #fff;
}


.login-box .link-item #lg{
    background: #26b3d6;
    color: #fff;
}


.login-box .user-item{
    height: 85px;
    position: relative;
}
.login-box .user-content{
    height: 42px;
    line-height: 42px;
    margin: 5px 5px 5px 28px;
    padding: 1px;
    width: 528px;
    border-radius: 2px;
    border: 1px solid #B0E0E6;
    padding-left: 13px;
    vertical-align: middle;
    font-size: 14px;
}
.login-box .user-item .user-content:focus{
    outline: none;
}

/*底部显示*/
.footer{
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 13px;
    margin: 5px;
    margin-bottom: 2px;
}

.footer .footer-content{
    margin: 0 auto;
}

.footer .footer-content .copyright{
    text-align: center;
}

